@import url("image_style.css");
@import url("search_box_style.css");
body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.countainer {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
}

.text-title h1 {
  text-align: center;
  width: 60%;
  color: #fff;
  font-size: 150px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  margin-top: 100px;
}

.countainer .content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 970px) {
  .countainer .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 820px) {
  .countainer .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 730px) {
  .text-title h1 {
    font-size: 100px;
  }
  .countainer .search-box {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .countainer .search-box {
    width: 70%;
  }
}

@media screen and (max-width: 468px) {
  .text-title h1 {
    font-size: 70px;
  }
  .countainer .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .countainer .search-box .search-box-input {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .text-title h1 {
    font-size: 70px;
  }
  .countainer .search-box .search-box-input {
    font-size: 20px;
  }
}
@media screen and (max-width: 300px) {
  .text-title h1 {
    font-size: 50px;
  }
  .countainer .search-box {
    width: 75%;
  }
  .countainer .search-box .search-box-input,
  .countainer .search-box {
    font-size: 16px;
  }
}
@media screen and (max-width: 180px) {
  .text-title h1 {
    font-size: 30px;
  }
  .countainer .search-box {
    width: 85%;
  }
  .countainer .search-box .search-box-input,
  .countainer .search-box {
    font-size: 12px;
  }
  .countainer .search-box{
    margin-top: 50px;
  }
}
