.countainer .search-box {
  margin-top: 120px;
  margin-bottom: 40px;
  width: 55%;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #465685;
  /* background-color: red; */
}
.countainer .search-box .search-box-input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  border-style: none;
  color: #465685;
}
.countainer .search-box .search-box-input::placeholder {
  color: #465685;
}
